{% extends "layout/base.html" %}
{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
{%endblock%}
{% block title %}球队信息{% endblock %}
{%block content%}
    <!-- 球队详情  -->
    <div class="flex-container">
        <div class="flex-left">
            <section class="detail-content" >
                <div class="team-info">
                    <img class="team-logo"src="/static/files/teamLogo/{{team.logo}}" alt="">
                    <div>
                        <h4 class="team-name">{{team.name}}</h4>
                        <ul class="unstyle">
                            <li><span>学校:</span>{{team.school}}</li>
                            <li><span>创建者:</span>{{team.manager.first_name}}</li>
                            <li><span>创建时间:</span>{{team.create_time|date:'Y-m-d'}}</li>
                        </ul>
                    </div>
                    <div class="rank">
                        <div>
                            <span >
                                <span class="score">{{team_data.win}}</span>胜
                            </span>
                            <span>
                                <span class="score"> {{team_data.lose }}</span>败
                            </span>
                        </div>
                        <div class="rank-img">
                            <div  style="width:{{team_data.win_rate}}%">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-tabs" id="detail-tab" changeType="click">
                    <ul class="my-tabs-nav unstyle">
                      <li>比赛</li>
                      <li >数据</li>
                      <li class="my-tabs-active">球员</li>
                    </ul>
                    <div class="my-tabs-bd">
                        <div class="my-tabs-panel ">
                            <header class="table-head">本周比赛</header>
                            {% if games %}
                            <table class="am-table am-table-hover data-table fixtures">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>地点</th>
                                        <th>状态</th>
                                        <th>主场</th>
                                        <th>比分</th>
                                        <th>客场</th>
                                        <th>数据</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for game in games %}
                                    <tr>
                                        <td class="game-time">
                                            <div>
                                                {{game.game_date}}
                                            </div>
                                            <div>
                                                  {{game.game_time}}
                                             </div>
                                         </td>
                                        <td class="location">{{game.location}}</td>
                                        <td class="status">{%if game.status == 0%}未赛{%else%}已完结{%endif%}</td>
                                        <td class="team-td"><a href="/tean/teamDetail?id_code={{game.team_one.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_one.logo}}">{{game.team_one}}</a></td>
                                        <td class="point">{%if not game.point%} --- {%else%}{{game.point}}{%endif%}</td>
                                        <td class="team-td"><a href="/tean/teamDetail?id_code={{game.team_two.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_two.logo}}">{{game.team_two}}</a></td>
                                        <td class="game-data">
                                            {% if game.status == 1 %}
                                                <a href="/game/getGame?id_code={{game.id_code}}" target="_blank" title="">查看</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <div class="none-data">
                                <i class="iconfont">&#xe608;</i>
                                暂无赛程
                            </div>
                            {% endif %}
                            <header class="table-head">下周比赛</header>
                            {% if nextgames %}
                            <table class="am-table am-table-hover data-table fixtures">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>地点</th>
                                        <th>状态</th>
                                        <th>主场</th>
                                        <th>比分</th>
                                        <th>客场</th>
                                        <th>数据</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for game in nextgames %}
                                    <tr>
                                        <td class="game-time">
                                            <div>
                                                {{game.game_date}}
                                            </div>
                                            <div>
                                                  {{game.game_time}}
                                             </div>
                                         </td>
                                        <td class="location">{{game.location}}</td>
                                        <td class="status">{%if game.status == 0%}未赛{%else%}已完结{%endif%}</td>
                                        <td class="team-td"><a href="/tean/teamDetail?id_code={{game.team_one.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_one.logo}}">{{game.team_one}}</a></td>
                                        <td class="point">{%if not game.point%} --- {%else%}{{game.point}}{%endif%}</td>
                                        <td class="team-td"><a href="/tean/teamDetail?id_code={{game.team_two.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_two.logo}}">{{game.team_two}}</a></td>
                                        <td class="game-data">
                                            {% if game.status == 1 %}
                                                <a href="/game/getGame?id_code={{game.id_code}}" target="_blank" title="">查看</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <div class="none-data">
                                <i class="iconfont">&#xe608;</i>
                                暂无赛程
                            </div>
                            {% endif %}
                        </div>
                        <div class="my-tabs-panel ">
                            <header class="table-head">平均数据</header>
                            <table class="am-table am-table-hover data-table">
                                <thead>
                                    <tr>
                                        <th >得分</th>
                                        <th >投篮</th>
                                        <th >三分</th>
                                        <th>罚球</th>
                                        <th >助攻</th>
                                        <th >抢断</th>
                                        <th >篮板</th>
                                        <th >盖帽</th>
                                        <th >失误</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% widthratio team_data.point team_data.game 1%}</td>
                                        <td>{% widthratio team_data.shot_all team_data.game 1%}</td>
                                        <td>{% widthratio team_data.three_all team_data.game 1%}</td>
                                        <td>{% widthratio team_data.free_all team_data.game 1%}</td>
                                        <td>{% widthratio team_data.assist team_data.game 1%}</td>
                                        <td>{% widthratio team_data.steal team_data.game 1%}</td>
                                        <td>{% widthratio team_data.rebound team_data.game 1%}</td>
                                        <td>{% widthratio team_data.block team_data.game 1%}</td>
                                        <td>{% widthratio team_data.turnover team_data.game 1%}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <header class="table-head">总数据</header>
                            <table class="am-table am-table-hover data-table">
                                <thead>
                                    <tr>
                                        <th >得分</th>
                                        <th >投篮</th>
                                        <th >命中%</th>
                                        <th >三分</th>
                                        <th >三分%</th>
                                        <th>罚球</th>
                                        <th>罚球%</th>
                                        <th >助攻</th>
                                        <th >抢断</th>
                                        <th >篮板</th>
                                        <th >盖帽</th>
                                        <th >失误</th>
                                        <th >胜率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{team_data.point}}</td>
                                        <td>{{team_data.shot_all}}</td>
                                        <td>{{team_data.shot_rate}}</td>
                                        <td>{{team_data.three_all}}</td>
                                        <td>{{team_data.three_rate}}</td>
                                        <td>{{team_data.free_all}}</td>
                                        <td>{{team_data.free_rate}}</td>
                                        <td>{{team_data.assist}}</td>
                                        <td>{{team_data.steal}}</td>
                                        <td>{{team_data.rebound}}</td>
                                        <td>{{team_data.block}}</td>
                                        <td>{{team_data.turnover}}</td>
                                        <td>{% widthratio team_data.win team_data.game 100%}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="my-tabs-panel my-tabs-active">
                            <table class="am-table am-table-hover data-table">
                                <thead>
                                    <tr>
                                        <th width="200">名字</th>
                                        <th width="70">号码</th>
                                        <th width="100">位置</th>
                                        <th width="100">身高</th>
                                        <th width="100">体重</th>
                                        <th width="100">学校</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                        <tr>
                                            <td><a href="#" title="" onclick="showPlayer('{{player.id_code}}',event);"><img class="player-img" src="/static/files/userImg/{{player.img_path}}" alt="{{player.name}}"><span>{{player.name}}</span></a></td>
                                            <td>{{player.number}}</td>
                                            <td>{{player.position}}</td>
                                            <td>{{player.height}}</td>
                                            <td>{{player.weight}}</td>
                                            <td>{{player.school}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="flex-right opacity" >
            <header class="flex-header">
                其他球队
            </header><!-- /header -->
            <section class="teammates">
                {% for each in otherTeam %}
                    <a href="/team/teamDetail?id_code={{each.id_code}}" target="_blank" class="player">
                        <img src="/static/files/teamLogo/{{each.logo}}" alt="">
                        <div>
                            {{each.name}}
                            <div>
                                {{each.school}}
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <a href="listTeam" title="" class="fr" target="_blank">more</a>
            </section>
        </div>
    </div>


{%endblock%}
{%block js%}
<script type="text/javascript" src="/static/js/detail.js"></script>
<script type="text/javascript">
    $(function () {

  });
</script>
{%endblock%}