@import "base";
// @import "common";
$header-bgc:#0732A2;
$header-title-height:110px;
$hader-nav-height:40px;
html,body{
    margin:0px;
    padding:0px;
    min-height: 100%;
    background:#F4F4F4 !important;
}
#header {
    // position:fixed;
    // top:0px;
    width:100%;
    text-align: center;
    z-index: 111;
    .header-title {
        margin:0px;
        font-size: 60px;
        font-weight: bold;
        color:#fcfcfc;
        background: $header-bgc;
        height:$header-title-height;
        line-height: $header-title-height;
    }
    .header-nav {
        position:relative;
        padding:10px 20px;
        background:#f4f4f4;
    }
    .nav {
        display:inline-block;
        li{
            display:inline-block;
            // padding:0px 20px;
            font-size: 20px;
            font-weight: bold;
            a{
                display:inline-block;
                color:$header-bgc;
                width:80px;
                text-decoration: none;
                height:$hader-nav-height;
                line-height: $hader-nav-height;
            }
            &.tabactive{
                a{
                    color:#E87BA0;
                    border-bottom: 1px dashed #E87BA0;
                }
            }
        }
    }
    .avatar {
        position:absolute;
        // position:relative;
        right:80px;
        top:10px;
        height:$hader-nav-height;
        width:40px;
        line-height: $hader-nav-height;
        // box-shadow: 0 0px 4px rgb(232,123,160);
        cursor:pointer;
        z-index: 20;
        // overflow:hidden;
        &:hover {
            .user-center-menu{
                display:block;
            }
        }
        .user-avatar {
            width:40px;
            height:100%;
            vertical-align: top;
            border-radius: 50%;
        }
    }
    .user-center-menu {
        position:absolute;
        display:none;
        right:0px;
        border:1px solid #ddd;
        background:#fff;
        .menu-item {
            display:block;
            width:100px;
            font-size: 13px;
        }
        //  三角形
        &:before{
            content:"";
            position: absolute;
            height: 10px;
            width: 10px;
            top: -6px;
            right: 15px;
            transform: rotateZ(45deg);
            background: white;
            border:{
                    top:1px solid #ddd;
                    left:1px solid #ddd;
                }
        }
    }
}

#login-modal {
    .am-modal-hd {
        padding-top: 0px;
    }
    .my-tabs-nav {
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        li{
            width:50%;
            height: 50px;
            line-height: 50px;
            display:inline-block;
            &.my-tabs-active{
                border-bottom: 2px solid $header-bgc;
            }
        }
    }
    .my-tabs-bd {
        margin-top: 10px;
    }
}


.container {
    width:80%;
    margin:0 auto;
    // min-height: 1500px;
    background:#F4F4F4;
    // box-shadow: 0 0px 4px rgb(232,123,160)
    // overflow: hidden;
}

$base-blue:#0732A2;
.flex-container {
    min-height:500px;
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-start;
    width:100%;
    margin-bottom: 20px;
    .flex-left,.flex-right {
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
        height:100%;
        background: #fff;
        padding:10px 20px;
    }
    .flex-left {
        flex-grow:1;
        margin-right: 20px;
        padding-top: 20px;
        padding-left: 24px;
    }
    .flex-right {
        width:360px;
        flex-shrink:0;
        transition:opacity 0.5s ;
        margin-bottom: 10px;
    }
    .opacity{
        opacity:1;
    }
    .flex-header{
        border-left: 4px solid $base-blue;
        padding:{
            left:10px;
            right:20px;
        }
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Microsoft YaHei',Arial;
    }
}


// 赛程
.fixtures {
    th{
        text-align: center;
    }
    td{
        font-size: 15px;
        text-align: center;
        vertical-align: middle !important;
    }
    img{
        height:36px;
        width:36px;
        vertical-align: -13px;
        margin-right: 5px;
        border-radius: 50%;
    }
    .fixtures-title {
        width:100%;
        // text-align: center;
        border-left: 5px solid #ddd;
        padding-left: 5px;
    }
    .team-td {
        a {
            color:#000;
        }
    }
}



.none-data {
    font-size: 40px;
    text-align: center;
    color:rgba(0,0,0,.5);
    padding-bottom: 20px;
    .iconfont {
        font-size: 37px;
    }
}