$base-blue:#0732A2;
//  球员信息container,in  the usercenter-content,第三个flex-item
.playerDetailContainer {
    position:fixed;
    width:400px;
    top:65px;
    right:0px;
    background:#fff;
    border:1px solid #ddd;
    z-index: 111;
    padding: 10px 20px;
    min-height: 500px;
    transition:-webkit-transform 1s;
    transition:transform 1s;
    transition:transform 1s, -webkit-transform 1s;
    -webkit-transform-origin:top right;
            transform-origin:top right;
    -webkit-transform:scale(0);
            transform:scale(0);
    .header {
        border-left: 4px solid $base-blue;
        padding-left: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Microsoft YaHei',Arial;
    }
    .playerDetail {
        margin-left: 10px;
        .player-logo {
            width: 100px;
            height: 100px;
            vertical-align: 0px;
            margin-right: 5px;
            +div{
                display:inline-block;
                font-weight: bold;
                font-family: 'sans-serif';
                span{
                    font-weight: normal;
                    // margin-left: 5px;
                }
            }
        }
        .detail-info {
            margin-top: 5px;
            // text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
            >div {
                font-size: 13px;
            }
        }
    }
}

// 主面板
.usercenter-container{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap:nowrap;
        -ms-flex-wrap:nowrap;
            flex-wrap:nowrap;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    // 左侧兰,第一个flex-item
    .usercenter-left {
        -webkit-flex-shrink:0;
            -ms-flex-negative:0;
                flex-shrink:0;
        width:200px;
        background:#fff;
        margin-right: 20px;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
        // text-align: center;
        li {
            border-top: 1px solid #ddd;
            &:last-of-type {
                border-bottom: 1px solid #ddd;
            }
        }
        .user-info {
            height:150px;
            padding-top:30px;
            // border-bottom: 1px solid #ddd;
            vertical-align: middle;
            text-align: center;
            .user-logo {
                width:50px;
                height:50px;
            }
            .user-name {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .usercenter-nav-item {
            display:inline-block;
            // height:50px;
            width:100%;
            font-family: 'Microsoft YaHei',Arial;
            line-height: 64px;
            padding-left: 25px;
            color:$base-blue;
            font-weight: 700;
            font-size: 15px;
            &.active {
                border-left:5px solid #E87BA0;
                color:#E87BA0;
            }
        }
    }
    // 主面板.第二个flex-item
    .usercenter-content {
        position:relative;
        -webkit-flex-grow:1;
            -ms-flex-positive:1;
                flex-grow:1;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
        margin-bottom: 30px;
        .usercenter-content-item {
            // position:absolute;
            display:none;
            padding:10px 30px;
            width:100%;
            height:100%;
            background:#fff;
            opacity:0;
            transition:opacity .5s ;
            &.opacity{
                opacity:1;
            }
            &.active {
                display:inline-block;
                // z-index: 10;
            }
        }
        .content-head {
            position:relative;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
            &:after{
                content: "";
                position: absolute;
                right: 0px;
                display: inline-block;
                height: 2px;
                left: 82px;
                background: #eee;
                float: left;
                margin-top: 14px;
            }
        }
    }


    // 信息container,in the usercenter-content-item
    .base-info,.player-info,.team-info {
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-flex-wrap:nowrap;
            -ms-flex-wrap:nowrap;
                flex-wrap:nowrap;
        -webkit-justify-content:space-around;
            -ms-flex-pack:distribute;
                justify-content:space-around;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        .info-group {
            -webkit-flex-grow:1;
                -ms-flex-positive:1;
                    flex-grow:1;
            >div {
                margin:10px;
            }
        }
        .info-avatar {
            position:relative;
            -webkit-flex-shrink:0;
                -ms-flex-negative:0;
                    flex-shrink:0;
            margin-right: 50px;
            overflow:hidden;
            &:hover {
                .am-form-file {
                    bottom:0px;
                }
            }
            img {
                width:150px;
                height:150px;
            }
            .am-form-file {
                position:absolute;
                bottom:-32px;
                width:150px;
                margin:0px;
                transition:bottom 1px;
                opacity:0.8;
                button{
                    width:100%;
                }
            }
        }
    }
    .player-info {
        .info-avatar{
            img{
                width:80px;
                height:135px;
            }
            i {
                position: absolute;
                top: 22%;
                left: 14%;
                font-size: 46px;
            }
        }
    }
    .team-info {
        border-bottom: none;
    }
    .players{
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-flex-wrap:wrap;
            -ms-flex-wrap:wrap;
                flex-wrap:wrap;
        margin-top: 10px;
        // justify-content:flex-start;
    }
    .players-item {
        font-size: 13px;
        margin:10px;
        cursor: pointer;
        position:relative;
        &:hover{
            &:after {
                box-shadow: 0 0 40px 4px #ccc;
            }
        }
        &:after{
            content:'';
            position:absolute;
            top:0px;
            left:0px;
            display:inline-block;
            width:100%;
            height:100%;
            // box-shadow: 0 0 4px #ddd;
            transition:box-shadow 0.2s;
            // background:red;
        }
        img{
            width:120px;
            height:120px;
            vertical-align: -2px;
            margin-right: 5px;
        }
        .players-item-info{
            display:inline-block;
            font-weight: bold;
            font-family: 'sans-serif';
            span{
                font-weight: normal;
                // margin-left: 5px;
            }
        }
    }
    @at-root #editUserInfoBtn,#editPlayerInfoBtn,#editTeamInfoBtn,#edit-player-btn {
        position:absolute;
        top:25px;
        right:30px;
        font-size: 13px;
        cursor:pointer;
        >span:hover {
            color:$base-blue;
        }
    }
    @at-root #edit-player-btn{
        top:10px;
    }
}

#detail-tab {
    .my-tabs-nav {
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        border: {
            top:1px solid #ddd;
            bottom:1px solid #ddd;
        };
        li{
            flex-grow:1;
            line-height: 27px;
            display:inline-block;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid #fff;
            &:hover,&.my-tabs-active{
                background-color:$base-blue;
                color:#fff;
            }
        }
    }
    .my-tabs-bd {
        margin-top: 10px;
        .my-tabs-active{
            display:block;
        }
    }
    .table-head {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }
    // @at-root .data-table {
    //     width:100%;
    //     th{
    //         font-size: 13px;
    //         text-align: center;
    //         color:#a0a0a0;
    //         background:#f7f7f7;
    //         font-weight: normal;
    //     }
    //     td {
    //         padding:16px 0;
    //         vertical-align: middle;
    //         font-size: 14px;
    //         text-align: center;
    //     }
    // }
    .player-img {
        height:43px;
        width:46px;
        margin:0 16px;
        vertical-align: middle;
    }
}
// msg 信息栏
.message-container {
    @at-root .message-item {
        margin:10px 0;
        display:flex;
        flex-wrap:nowrap;
        border-bottom: 1px solid #ddd;
        .message-head{
            width:80px;
            margin-right: 10px;
            flex-shrink: 0;
            img {
                height:80px;
                width:100%;
                // border-radius: 50%;
            }
            .sender-name {
                font-size: 13px;
                line-height: 13px;
                margin-top: 5px;
            }
            .send-time{
                font-size: 11px;
                /* font-weight: bold; */
                text-align: center;
                color:grey;
                line-height: 11px;
                font-style: italic;
            }
        }
        .message-content {
            font-family: 'sans-serif';
            flex-grow:1;
            .msg-title{
                font-size: 14px;
                font-weight: bold;
            }
            .msg-content {
                
            }
            .msg-content-label {
                font-size: 13px;
                font-weight: bold;
                span {
                    font-weight: normal;
                    margin-right: 5px;
                }
            }
        }
        .message-action{
            flex-shrink: 0;
        }
    }
}

