{% extends "layout/superuser-base.html" %}
{% block title %}比赛列表{% endblock %}
{%block content%}
<div class="content-container fixtures">
    <header class="content-header">
           比赛列表
        <a  href="fixtures" class="fr am-btn am-btn-primary am-btn-xs">赛程管理</a>
        </header><!-- /header -->   
    {% if gameList %}
    <table class="am-table am-table-hover data-table mt10">
        <thead>
            <tr>
                <th>时间</th>
                <th>地点</th>
                <th>状态</th>
                <th>主场</th>
                <th>比分</th>
                <th>客场</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for game in gameList %}
                <tr id-code="{{game.id_code}}">
                    <td>
                        <div class="game-date">
                            {{game.game_date}}
                        </div>
                        <div class="game-time">
                              {{game.game_time}}
                         </div>
                     </td>
                    <td class="location">{{game.location}}</td>
                    <td class="status">{%if game.status == 0%}未赛{%else%}已完结{%endif%}</td>
                    <td class="team_one "><a class="color-000" href="/team/teamDetail?id_code={{game.team_one.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_one.logo}}">{{game.team_one}}</a></td>
                    <td class="point">{%if not game.point%} --- {%else%}{{game.point}}{%endif%}</td>
                    <td class="team_two"><a class="color-000" href="/team/teamDetail?id_code={{game.team_two.id_code}}" title=""><img src="/static/files/teamLogo/{{game.team_two.logo}}">{{game.team_two}}</a></td>
                    <td class="game-action">
                        {%if game.status == 1%}
                        <a class="am-btn am-btn-link am-btn-xs" href="/game/getGame?id_code={{game.id_code}}" target="_blank" title="">查看</a>
                        {%endif%}
                        <button type="button" class="am-btn am-btn-link am-btn-xs" action-type='delete'>删除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
    <div class="none-data">
        <i class="iconfont">&#xe608;</i>
        暂无赛程
    </div>
    {% endif %}
</div>

{%endblock%}

{%block js%}
<script type="text/javascript">
    $(function(){
        // 操作
        $("[action-type='delete']").on("click",function(e){
            console.log(e.target)
            var $target = $(e.target);
            var type = $target.attr('action-type');
            var container = $(this).parents("tr");
            var id_code = container.attr("id-code")
            $.post('/game/deleteGame', {id_code: id_code}, function(data, textStatus, xhr) {
                msgPopup(data.message);
                if(data.success === 1) {
                    reload();
                }
            });
        });
    });
</script>
{%endblock%}