<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin-global.css">
    <link rel="stylesheet" type="text/css" href="/static/vendors/amazeui/dist/css/amazeui.css">
    <title>登录后台</title>
    <style type="text/css">
        html,body {
            background: #3c3844;
        }
    </style>
</head>
<body>
    <div id="login">
        <header>
            登录UBA后台
        </header><!-- /header -->
        <form class="am-form am-form-horizontal" action="login" method="POST">
          <div class="am-form-group">
            <label for="username" class="am-form-label">账号:</label>
              <input type="text" id="username" name="username" placeholder="输入你的账号" class="am-input-sm">
          </div>
          <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class=" am-form-label">密码:</label>
              <input type="password" id="pwd" name="password" placeholder="输入一个密码吧" class="am-input-sm">
          </div>
          <div class="am-form-group tac">
              <button type="submit" class="am-btn am-btn-default">提交登入</button>
          </div>
</form>
    </div>
</body>
</html>