<section class="usercenter-content-item" my-role="content-item" >
    <header class="content-head">
        <span>修改密码</span>
    </header>
    <article class="content-bd">
        <section class="message-container">
            <form id="pwd-form" method="post" accept-charset="utf-8" class="my-form tac-form">
                <div class="my-form-group">
                    <label class="my-form-label">原密码:</label>
                    <input type="password" name="oldPwd" value="" placeholder="原密码" required>
                </div>
                 <div class="my-form-group">
                    <label class="my-form-label">新密码:</label>
                    <input type="password" name="newPwd" minlength="6" maxlength="10"value="" placeholder="新密码" required>
                </div>
                 <div class="my-form-group">
                    <label class="my-form-label">重复密码:</label>
                    <input type="password" name="newPwd2" value="" placeholder="重复密码" required>
                </div>
                <input type="submit" name="" class="am-btn am-btn-primary am-btn-sm am-round" value="提交">
            </form>
        </section>
    </article>
</section>