{% extends "layout/base.html" %}
{%block head%}<link rel="stylesheet" type="text/css" href="/static/css/usercenter.css">
<link rel="stylesheet" type="text/css" href="/static/vendors/hovercss/css/hover-min.css">{%endblock%}
{% block title %}个人中心{% endblock %}
{%block content%}
    <div class="usercenter-container">
        <div class="usercenter-left">
            <header class="user-info">
                <img class="user-logo user-avatar" src="/static/upload/{{user.img_path}}" alt="">
                <aside class="user-name">
                    {{user.first_name}}
                </aside>
            </header>
            <nav class="usercenter-nav">
                <ul class="unstyle">
                    <li><a class="usercenter-nav-item active" href="#user-info" title="" my-role="nav-item" nav-index="0">个人信息</a></li>
                    <li><a class="usercenter-nav-item" href="#user-player" title="" my-role="nav-item" nav-index="1">我的生涯</a></li>
                    <li><a class="usercenter-nav-item" href="#user-team" title="" my-role="nav-item" nav-index="2">我的球队</a></li>
                    <li><a class="usercenter-nav-item" href="#user-msg" title="" my-role="nav-item" nav-index="3">我的消息</a></li>
                </ul>
            </nav>
        </div>
        <section class="usercenter-content">
            <section id="user-info" class="usercenter-content-item active opacity" my-role="content-item" >
                <header class="content-head">
                    <span>个人信息</span>
                </header>
                <article class="content-bd">
                    <div class="base-info my-form">
                        <div class="info-avatar">
                            <img class="user-avatar" src="/static/upload/{{user.img_path}}" alt="">
                            <div class="am-form-group am-form-file">
                              <button  type="button" class="am-btn am-btn-default am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 上传头像</button>
                              <input id="uploadImg" type="file" >
                            </div>
                        </div>
                        <div class="info-group">
                            <div class="m10">
                                用户名:{{user.username}}
                            </div>
                            <div class="m10">
                                昵称: <span editable='last_name'>{{user.last_name}}</span>
                            </div>
                        </div>
                        <div class="info-group">
                            <div class="m10">
                                邮箱:<span editable='email'>{{user.email}}</span>
                            </div>
                            <div class="m10">
                                电话:<span editable='phone'>{{user.phone}}</span>
                            </div>
                            <div class="m10">
                                q q :<span editable='qq'>{{user.qq}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="editUserInfoBtn">
                        <span class="edit"><i class="iconfont">&#xe600;</i>编辑</span>
                        <span class="save dis-none"><i class="iconfont">&#xe602;</i>保存</span>
                        <span class="cancel dis-none"><i class="iconfont">&#xe601;</i>取消</span>
                    </div>
                </article>
            </section>
            <section class="usercenter-content-item" my-role="content-item" >
                <header class="content-head">
                    <span>我的生涯</span>
                </header>
                <article class="content-bd">
                    {%if not player %}
                        你还不是一名球员,请先申请成为球员
                        <form action="/team/savePlayer" method="post" accept-charset="utf-8" class="my-form">
                            <div class="">
                                <label class="my-form-label">真实姓名:</label>
                                <input type="text" name="first_name" class="my-form-input" value="" placeholder="">
                            </div>
                             <div class="">
                                <label class="my-form-label">身高:</label>
                                <input type="text" name="height" class="my-form-input" value="" placeholder="单位:cm">
                            </div>
                             <div class="">
                                <label class="my-form-label">体重:</label>
                                <input type="text" name="weight" class="my-form-input" value="" placeholder="单位:kg">
                            </div>
                            <div class="">
                              <label class="my-form-label" or="">选择位置:</label>
                              <select name="position">
                                  <option value="PG">控卫</option>
                                  <option value="SG">分卫</option>
                                  <option value="C">中锋</option>
                                  <option value="PF">前锋</option>
                                  <option value="SF">小前锋</option>
                              </select>
                            </div>
                            <div class="">
                              <label class="my-form-label">个人简述:</label>
                              <textarea name="desc"></textarea>
                            </div>
                            <input type="submit" name="" value="提交">
                        </form>
                    {%else%}
                    <div class="player-info my-form">
                            <div class="info-avatar">
                                <img class="team-avatar" src="/static/files/clothes.png" alt="">
                                <i>{%if user.player.number%}{{user.player.number}}{%else%}null{%endif%}</i>
                            </div>
                            <div class="info-group">
                                <div class="m10">
                                        姓名:{{user.first_name}}
                                    </div>
                                <div class="m10">
                                    所在球队:{%if user.player.team%}{{user.player.team}}{%else%}你不属于任何球队{%endif%}
                                </div>
                                <div class="m10">
                                    球衣号码:{%if user.player.number%}{{user.player.number}}{%else%}你还未有号码{%endif%}
                                </div>
                                <div class="m10">
                                    位置:{{user.player.position}}
                                </div>
                            </div>
                            <div class="info-group">
                                <div class="m10">
                                    身高:<span editable='height'>{{user.player.height}}</span>
                                </div>
                                <div class="m10">
                                    体重:<span editable='weight'>{{user.player.weight}}</span>
                                </div>
                                <div class="m10">
                                    学校:<span editable='school'>{{user.player.school}}</span>
                                </div>
                                <div class="m10">
                                    desc :<span editable='desc'>{{user.player.desc}}</span>
                                </div>
                            </div>
                        <div id="editPlayerInfoBtn">
                            <span class="edit"><i class="iconfont">&#xe600;</i>编辑</span>
                            <span class="save dis-none"><i class="iconfont">&#xe602;</i>保存</span>
                            <span class="cancel dis-none"><i class="iconfont">&#xe601;</i>取消</span>
                        </div>
                    </div>
                    <div>
                    {%if player_data%}
                        <table class="am-table data-table">
                            <caption>平均数据</caption>
                            <thead>
                                <tr>
                                    <th >得分</th>
                                    <th >投篮</th>
                                    <th >三分</th>
                                    <th>罚球</th>
                                    <th >助攻</th>
                                    <th >抢断</th>
                                    <th >篮板</th>
                                    <th >盖帽</th>
                                    <th >失误</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% widthratio player_data.point player_data.game 1%}</td>
                                    <td>{% widthratio player_data.shot_all player_data.game 1%}</td>
                                    <td>{% widthratio player_data.three_all player_data.game 1%}</td>
                                    <td>{% widthratio player_data.free_all player_data.game 1%}</td>
                                    <td>{% widthratio player_data.assist player_data.game 1%}</td>
                                    <td>{% widthratio player_data.steal player_data.game 1%}</td>
                                    <td>{% widthratio player_data.rebound player_data.game 1%}</td>
                                    <td>{% widthratio player_data.block player_data.game 1%}</td>
                                    <td>{% widthratio player_data.turnover player_data.game 1%}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="am-table data-table">
                            <caption>总数据</caption>
                            <thead>
                                <tr>
                                    <th >得分</th>
                                    <th >投篮</th>
                                    <th >命中%</th>
                                    <th >三分</th>
                                    <th >三分%</th>
                                    <th>罚球</th>
                                    <th>罚球%</th>
                                    <th >助攻</th>
                                    <th >抢断</th>
                                    <th >篮板</th>
                                    <th >盖帽</th>
                                    <th >失误</th>
                                    <th >场次</th>
                                    <th >两双</th>
                                    <th >三双</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{player_data.point}}</td>
                                    <td>{{player_data.shot_all}}</td>
                                    <td>{{player_data.shot_rate}}</td>
                                    <td>{{player_data.three_all}}</td>
                                    <td>{{player_data.three_rate}}</td>
                                    <td>{{player_data.free_all}}</td>
                                    <td>{{player_data.free_rate}}</td>
                                    <td>{{player_data.assist}}</td>
                                    <td>{{player_data.steal}}</td>
                                    <td>{{player_data.rebound}}</td>
                                    <td>{{player_data.block}}</td>
                                    <td>{{player_data.turnover}}</td>
                                    <td>{{player_data.game}}</td>
                                    <td>{{player_data.doubledouble}}</td>
                                    <td>{{player_data.threedouble}}</td>
                                </tr>
                            </tbody>
                        </table>
                    {%endif%}
                    </div>
                    {%endif%}
                </article>
            </section>
            <section class="usercenter-content-item" my-role="content-item" >
                <header class="content-head">
                    <span>我的球队</span>
                </header>
                <article class="content-bd">
                    {% if not team %}
                        你还没有加入球队,你可以选择创建一支或者加入一支
                        <form action="/team/saveTeam" method="post">
                            <input type="text" name="name" value="" placeholder="name">
                            <input type="text" name="school" value="" placeholder="归属学校">
                            <textarea name="desc"></textarea>
                            <input type="submit" name="" value="提交">
                        </form>
                    {% else %}
                        <div class="team-info my-form">
                            <div class="info-avatar">
                                <img class="team-avatar" src="/static/upload/{{team.logo}}" alt="">
                                {%if  isManager %}
                                <div class="am-form-group am-form-file">
                                  <button  type="button" class="am-btn am-btn-default am-btn-sm">
                                    <i class="am-icon-cloud-upload"></i> 上传Logo</button>
                                  <input id="uploadLogo" type="file" >
                                </div>
                                {%endif%}
                            </div>
                            <div class="info-group">
                                <div class="m10">
                                    球队名字:<span editable='name'>{{team.name}}</span>
                                </div>
                                <div class="m10">
                                    管理员:{{team.manager.first_name}}
                                </div>
                                <div class="m10">
                                    学校: <span editable='school'>{{team.school}}</span>
                                </div>
                            </div>
                            <div class="info-group">
                                <div class="m10">
                                    简介:<span editable='desc'>{{team.desc}}</span>
                                </div>
                            </div>
                        </div>
                        {%if isManager%}
                        <div id="editTeamInfoBtn">
                            <span class="edit"><i class="iconfont">&#xe600;</i>编辑</span>
                            <span class="save dis-none"><i class="iconfont">&#xe602;</i>保存</span>
                            <span class="cancel dis-none"><i class="iconfont">&#xe601;</i>取消</span>
                        </div>
                        {%endif%}
                        <div class="my-tabs" id="detail-tab" changeType="click">
                            <ul class="my-tabs-nav unstyle">
                              <li>比赛</li>
                              <li >数据</li>
                              <li class="my-tabs-active">球员</li>
                            </ul>
                            <div class="my-tabs-bd">
                                <div class="my-tabs-panel ">
                                    比赛
                                </div>
                                <div class="my-tabs-panel ">
                                    <header class="table-head">平均数据</header>
                                    <table class="am-table am-table-hover data-table">
                                        <thead>
                                            <tr>
                                                <th >得分</th>
                                                <th >投篮</th>
                                                <th >三分</th>
                                                <th>罚球</th>
                                                <th >助攻</th>
                                                <th >抢断</th>
                                                <th >篮板</th>
                                                <th >盖帽</th>
                                                <th >失误</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{% widthratio team_data.point team_data.game 1%}</td>
                                                <td>{% widthratio team_data.shot_all team_data.game 1%}</td>
                                                <td>{% widthratio team_data.three_all team_data.game 1%}</td>
                                                <td>{% widthratio team_data.free_all team_data.game 1%}</td>
                                                <td>{% widthratio team_data.assist team_data.game 1%}</td>
                                                <td>{% widthratio team_data.steal team_data.game 1%}</td>
                                                <td>{% widthratio team_data.rebound team_data.game 1%}</td>
                                                <td>{% widthratio team_data.block team_data.game 1%}</td>
                                                <td>{% widthratio team_data.turnover team_data.game 1%}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <header class="table-head">总数据</header>
                                    <table class="am-table am-table-hover data-table">
                                        <thead>
                                            <tr>
                                                <th >得分</th>
                                                <th >投篮</th>
                                                <th >命中%</th>
                                                <th >三分</th>
                                                <th >三分%</th>
                                                <th>罚球</th>
                                                <th>罚球%</th>
                                                <th >助攻</th>
                                                <th >抢断</th>
                                                <th >篮板</th>
                                                <th >盖帽</th>
                                                <th >失误</th>
                                                <th >胜率</th>
                                                <th >场次</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{team_data.point}}</td>
                                                <td>{{team_data.shot_all}}</td>
                                                <td>{{team_data.shot_rate}}</td>
                                                <td>{{team_data.three_all}}</td>
                                                <td>{{team_data.three_rate}}</td>
                                                <td>{{team_data.free_all}}</td>
                                                <td>{{team_data.free_rate}}</td>
                                                <td>{{team_data.assist}}</td>
                                                <td>{{team_data.steal}}</td>
                                                <td>{{team_data.rebound}}</td>
                                                <td>{{team_data.block}}</td>
                                                <td>{{team_data.turnover}}</td>
                                                <td>{% widthratio team_data.win team_data.game 100%}%</td>
                                                <td>{{team_data.game}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="my-tabs-panel my-tabs-active">
                                    <aside class="players">
                                        {% for player in team.players.all %}
                                            <div class="players-item" data-idCode="{{player.id_code}}">
                                                <img src="/static/upload/{{player.user.img_path}}" alt="">
                                                <div class="players-item-info">
                                                    <div>姓名:<span class="detail-name">{{player.user.first_name}}</span></div>
                                                    <div>球衣:<span class="detail-number">{{player.number}}</span></div>
                                                    <div>位置:<span class="detail-position">{{player.position}}</span></div>
                                                    <div>身高:<span class="detail-height">{{player.height}}</span> 体重:<span class="detail-weight">{{player.weight}}</span></div>
                                                    <div>加入时间:<span class="detail-join-time">{{player.create_time|date:'Y-m-d'}}</span></div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </aside>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                </article>
            </section>
            <section class="usercenter-content-item" my-role="content-item" >
                <header class="content-head">
                    <span>我的消息</span>
                </header>
                <article class="content-bd">
                    <section class="message-container">
                        {% for each in msg %}
                            <div class="message-item" data-id-code="{{each.id_code}}">
                                <header class="message-head">
                                    <img src="/static/upload/{{each.sender.img_path}}" alt="">
                                    <div class='sender-name' data-id-code="{{each.sender.id_code}}">
                                        {{each.sender.first_name}}
                                    </div>
                                    <time class='send-time' datetime="{{each.create_time|date:'Y-m-d'}}">{{each.create_time|date:'Y-m-d'}}</time>
                                </header><!-- /header -->
                                <div class="message-content">
                                    <div class="msg-title">
                                        {{each.title}}
                                    </div>
                                    <div class="msg-content">
                                    {% autoescape off %}
                                        {{each.content}}
                                    {% endautoescape %}
                                    </div>
                                </div>
                                {% if each.status == 0 %}
                                    <div class="message-action am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-primary" data-msg-type='{% if each.msg_type == 0 %}agree-apply{%elif each.msg_type == 4 %}agree-invite{%endif%}'>同意</button>
                                        <button type="button" class="am-btn am-btn-danger" data-msg-type=''>拒绝</button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </section>
                </article>
            </section>
        </section>
    </div>



    <!-- 球队球员信息板 -->
    <div class="playerDetailContainer" >
        <header class="header">
            球员信息
            {%if isManager%}
            <div id="edit-player-btn">
                <span class="edit"><i class="iconfont">&#xe600;</i>编辑</span>
                <span class="save dis-none"><i class="iconfont">&#xe602;</i>保存</span>
                <span class="cancel dis-none"><i class="iconfont">&#xe601;</i>取消</span>
            </div>
            {%endif%}
        </header><!-- /header -->
        <section class="playerDetail">
            <header class="detail-info">
                <img class="player-logo"src="/static/upload/{{team.logo}}" alt="">
                <div class="my-form">
                    <div>姓名:<span class="detail-name">d</span></div>
                    <div>球衣:<span class="detail-number">dddd</span></div>
                    <div>位置:<span class="detail-position">dddd</span></div>
                    <div>身高:<span class="detail-height">dddd</span> 体重:<span class="detail-weight">dddd</span></div>
                    <div>加入时间:<span class="detail-join-time"></span></div>
                </div>
                <div>
                    <label>简介:</label>
                    <span class="detail-desc">dddd</span>
                </div>
            </header><!-- /header -->
            <section class="detail-data">
                
            </section>
        </section>
    </div>
{%endblock%}
{%block footer%}
<!-- 同意加入球队modal -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="applyModal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">同意加入:
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd my-form">
        <div class="my-form-group">
            <label class="my-form-label">号码:</label>
            <input class="my-form-input" type="text" name="r-number" value="" placeholder="号码">
        </div>
        <div class="my-form-group">
            <label class="my-form-label"l>位置:</label>
            <select name="r-position">
                <option value="PG">控卫</option>
                <option value="SG">分位</option>
                <option value="C">中锋</option>
                <option value="SF">小前</option>
                <option value="PF">大前</option>
            </select>
        </div>
        <button id="agreeApplyJoin" type="button" class='am-btn am-btn-default'>提交</button>
    </div>
  </div>
</div>
{%endblock%}
{%block js%}
    <script type="text/javascript" src="/static/js/usercenter.js"></script>
{%endblock%}